@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Merienda:wght@400;700&display=swap');

@font-face {
    font-family: 'escrita';
    src: url(../fontes/Best\ Valentina\ TTF.ttf) format('truetype');
    font-weight: normal;
}

:root {
    --font-titulo: 'escrita', Arial, sans-serif;
    --font-texto: 'Merienda', 'cursive', Arial, sans-serif;
    --color1: #855A38;
    --color2: #AD5F42;
    --color3: #FA9A77;
    --color4: #BCFA91;
    --color5: #3f7936;
    --color-fonte1: #5F74FA;
    --color-fonte2: #4B58AD;
}

*{
    padding: 0px;
    margin: 0px;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    background-color: var(--color3);
}
header{
    text-align: center;
    margin: auto;
    border-radius: 0px 0px 10px 10px;
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.562);
    overflow: hidden;
    background-image: url(../fotos/foto-madeira.jpg);
    background-size: cover;
    color: var(--color-fonte1);
    margin-bottom: 10px;
}
header > h1{
    font-family: var(--font-titulo);
    text-shadow: 1px 1px 2px black;
    font-size: 4em;
    margin: auto;
}
#menu > li{
    font-family: var(--font-texto);
    float: left;
    list-style-type: none;
    margin: 0px 0px 5px 5px;
    background-color: var(--color1);
    box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.384);
    border-radius: 2px;
    padding: 5px;
    color: white;
}
main{
    margin: auto;
    max-width: 1000px;
}

.container{
    background-color: var(--color1);
    box-shadow: inset 0px 0px 5px 2px rgba(0, 0, 0, 0.459);
    border-radius: 10px;
    margin-bottom: 10px; 
    max-width: 100vw;
    width: 1000px;
    position: relative;
    padding-bottom: 56%;
}
#foto img{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 97%;
    height: 97%;
    border-radius: 5px;
}
#ptransparente{
    background-color: rgba(255, 255, 255, 0.397);
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    font-size: 2em;
}
section{
    background-image: linear-gradient(to right, var(--color1), var(--color3));
    box-shadow: inset 0px 0px 5px 2px rgba(0, 0, 0, 0.459);
    border-radius:10px;
    padding: 20px 10px
}
.conteudo{
    font-family: var(--font-texto), Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: black;
    width: max-content;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.205);
    padding: 3px 10px 10px 10px;
}
.linkaula{
    text-decoration: none;
    color: black;
}
#foto-ju01{
    height: 140px;
    border: 1px solid black;
}
article{
    margin: 20px 10px 0px 10px;
}
article > h1 {
    text-transform: uppercase;
    font-family: var(--font-texto);
    text-align: center;
    font-size: 1.9em;
    color: var(--color-fonte2);
    text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.603);
}
article > p{
    color: white;
    font-family: var(--font-texto);
    text-align: justify;
    text-indent: 30px;
    line-height: 20px; 
    margin-bottom: 10px;
}
article > h2{
    font-family: var(--font-texto);
    padding: 4px;
}
#fotofixa{
    background-image: url(../fotos/fotofixa.jpg);
    background-size: 100% 100%;
    max-width: 90vw;
    background-attachment: fixed;
    background-position: center center;
    box-shadow: inset 0px 0px 4px 1px rgba(0, 0, 0, 0.445);
    border-radius: 3px;
    padding: 30px 0px;
}
#divtransparente{
    background-color: rgba(255, 255, 255, 0.377);
    max-width: max-content;
    display: block;
    padding: 10px;
    margin: 0px 30px 0px 30px;
    font-size: 1.5em;
}
aside > div > h3{
    font-family: var(--font-texto);
    color: var(--color-fonte1);
}
aside > div > ul{
    font-family: var(--font-texto);
    list-style-type: none;
    font-size: 0.8em;
}
aside > div > p{
    font-family: var(--font-texto);
    font-size: 16.5px;
}
#ultimo > h2{
    font-family: var(--font-texto);
    text-align: center;
    font-size: 1.9em;
    color: var(--color-fonte2);
    text-shadow: 1px 1px 2px black;
    margin-top: 10px;
}
#ultimo > p{
    color: white;
    font-family: var(--font-texto);
    text-align: justify;
    text-indent: 30px;
    line-height: 20px; 
    margin: 10px 20px 5px 20px;
}
#ultimo > dl > dt{
    font-family: var(--font-titulo);
    color: white;
    font-size: 1.8em;
    margin: 5px;
}
dd{
    font-family: var(--font-texto);
    font-style: bold;
    margin: 3px;
    text-indent: 30px;
}
footer{background-image: url(../fotos/foto-madeira.jpg);
    background-size: cover;
    text-align: center;
    margin: auto;
    overflow: hidden;
    box-shadow: 0px 0px 6px 2px rgb(0 0 0 / 56%);
    margin-top: 20px;
}
#footer > li{
    font-family: var(--font-texto);
    float: left;
    list-style-type: none;
    margin: 5px 0px 5px 5px;
    background-color: var(--color1);
    box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.384);
    border-radius: 2px;
    padding: 5px;
    color: white;
}
footer > p{
    clear: left;
    background-color: var(--color1);
    border-radius: 2px;
    color: white;
    display: inline-block;
    padding: 3px;
}
footer > p > a{
    text-decoration: none;
    color: var(--color-fonte1);
    font-weight: bold;
    text-shadow: 1px 1px 2px black;
}
/*PÁGINA 01 (Inscreva-se)*/


/*PÁGINA 02 (VÍDEOS)*/


/*PÁGINA 03 (SOBREMIM)*/
.sobremim{
    text-align: center;
}
#fotoperfil{
    border: 1px solid black;
    max-width: 400px;
}